.Draftail-Editor {
  background-color: #fff;
  border: none !important;
  border-radius: 1px;
}

.Draftail-block--code-block {
  padding: 0 0.5rem;
  background-color: rgb(216, 216, 216);
}

.Draftail-Editor--readonly .DraftEditor-editorContainer {
  opacity: 1;
}

.post-title .Draftail-block--unstyled {
  font-size: 32pt;
  font-weight: 700;
}
